NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

NET CLK   LOC = P8 | IOSTANDARD = LVCMOS33 ; 
NET RESET LOC = T3 | TIG ;
NET LED8_GPIO_IO_O_pin[0]  LOC = A12 | IOSTANDARD = LVCMOS33;
NET LED8_GPIO_IO_O_pin[1]  LOC = E11 | IOSTANDARD = LVCMOS33;
NET LED8_GPIO_IO_O_pin[2]  LOC = D9 | IOSTANDARD = LVCMOS33;
NET LED8_GPIO_IO_O_pin[3]  LOC = A11 | IOSTANDARD = LVCMOS33;
NET LED8_GPIO_IO_O_pin[4]  LOC = A10 | IOSTANDARD = LVCMOS33;
NET LED8_GPIO_IO_O_pin[5]  LOC = E8 | IOSTANDARD = LVCMOS33;
NET LED8_GPIO_IO_O_pin[6]  LOC = C8 | IOSTANDARD = LVCMOS33;
NET LED8_GPIO_IO_O_pin[7]  LOC = A8 | IOSTANDARD = LVCMOS33;